* {
  font-family: raleway;
  margin: 0;
}
.container {
  height: 100vh;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
table {
  table-layout: fixed;
}
th,
td {
  width: 142px;
  height: 48px;
  border: 1px solid black;
  border-radius: 5px;
  text-align: center;
  font-size: 30px;
}
th {
  background-color: black;
  color: white;
}
.top {
  background-color: green;
  color: aliceblue;
}
#empty {
  background-color: white;
  border: 0;
}
.scrollable {
  overflow-y: scroll;
  height: 300px;
}
.list {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  font-size: 50px;
}
li {
  /* border: 2px solid black; */
  margin: 20px;
  text-align: center;
  list-style-type: none;
  width: 142px;
  height: 48px;
}
.card {
  width: 142px;
  height: 48px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 2px 2px 2px 25px;
  /* background: var(--Blau, linear-gradient(122deg, #6360e2 0%, #54fffd 100%)); */
  overflow: hidden;
}
.play {
  margin: 8px;
}
.name {
  color: #fff;
  font-family: "Source Sans Pro";
  font-size: 14px;
  font-style: normal;
  font-weight: 900;
  line-height: normal;
  padding: 4px;
}
.main {
  color: rgba(255, 255, 255, 0.5);
  font-family: "Source Sans Pro";
  font-size: 7px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  letter-spacing: 1.4px;
}
.photo {
  transform: translate(10px, 10px);
}
.photo img {
  width: 72px;
  height: 64px;
}
.input {
  margin-top: 30px;
  display: flex;
  justify-content: space-around;
  text-align: center;
}
reloadButton {
  overflow-y: hidden;
}
